
<h1>New Person</h1>

<%= form_tag("/person/create", method: "post") do %>

  <%= label_tag( "Name:") %>
  <%= text_field_tag(:first_name) %>
  <%= label_tag( "Last Name:") %>
  <%= text_field_tag(:last_name) %>
  <%= label_tag( "Description:") %>
  <%= text_field_tag(:description) %>
  <%= label_tag( "Actor:") %>
  <%= radio_button_tag(:role,"actor") %>
  <%= label_tag( "Director:") %>
  <%= radio_button_tag(:role,"director") %>
  <br>
  <%= submit_tag("Submit") %>

<% end %>